<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper-container (slidechange)="swiperSlideChange($event)" [loop]="true" [pagination]="true" [zoom]="true">
    <swiper-slide>
      <h1>Slide 1</h1>

      <ion-button (click)="presentPopover($event)">Click Me</ion-button>
    
      <h1>{{MyVal}}</h1>
    
      <ion-button (click)="printCurrentPosition()">Get new pos</ion-button>
      <h1>latitude: {{location?.coords?.latitude}}, longitude:{{location?.coords?.longitude}}</h1>
    
      <ion-button color="danger" (click)="followPos()">Constant update pos</ion-button>
    
      <ion-button (click)="openModal1()">Open modal 1</ion-button>
      <ion-button (click)="openModal2()">Open modal 2</ion-button>

      <ion-button color="success" routerLink="/gps">Go to gps</ion-button>
    </swiper-slide>
    <swiper-slide>
      <h1>Slide 2</h1>

      <ion-button (click)="presentPopover($event)">Click Me</ion-button>
    
      <h1>{{MyVal}}</h1>
    
      <ion-button (click)="printCurrentPosition()">Get new pos</ion-button>
      <h1>latitude: {{location?.coords?.latitude}}, longitude:{{location?.coords?.longitude}}</h1>
    
      <ion-button color="danger" (click)="followPos()">Constant update pos</ion-button>
    
      <ion-button (click)="openModal1()">Open modal 1</ion-button>
      <ion-button (click)="openModal2()">Open modal 2</ion-button>

      <ion-button color="success" routerLink="/gps">Go to gps</ion-button>
    </swiper-slide>
    <swiper-slide>
      <h1>Slide 3</h1>

      <ion-button (click)="presentPopover($event)">Click Me</ion-button>
    
      <h1>{{MyVal}}</h1>
    
      <ion-button (click)="printCurrentPosition()">Get new pos</ion-button>
      <h1>latitude: {{location?.coords?.latitude}}, longitude:{{location?.coords?.longitude}}</h1>
    
      <ion-button color="danger" (click)="followPos()">Constant update pos</ion-button>
    
      <ion-button (click)="openModal1()">Open modal 1</ion-button>
      <ion-button (click)="openModal2()">Open modal 2</ion-button>
    
      <ion-button color="success" routerLink="/gps">Go to gps</ion-button>
    </swiper-slide>
  </swiper-container>


</ion-content>
